<%= render partial: "tenants/shared/tenant", locals: { tenant: @tenant } %>

<div class="row">
  <div class="col-md-12">
    <h3>Rentals and Registrations</h3>
  </div>
  <div class="col-md-12">
    <%= render partial: "rentals/shared/rental_registrations", locals: { tenant: @tenant } %>
  </div>
</div>
