<div class="col-md-12">
  <h3>Rental Invoices</h3>
</div>
<div class="col-md-12">
  <%= render partial: "rental_invoices/shared/simple_rental_invoices", locals: { rental_invoices: @rental_invoices.order(invoice_date: :desc) } %>
</div>

<%= link_to 'New Rental invoice', new_rental_invoice_path %>
