
<div class="row">
  <div class="col-md-12">
    <h3>Potential Income At A Glance</h3>
  </div>
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Location</th>
          <th>Capacity</th>
          <th>Full House Intake</th>
          <th>Current Occupied</th>
          <th>Current Intake</th>
          <th>Current Vacant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hanover At Rice</td>
          <td>300</td>
          <td>$420,000</td>
          <td>100</td>
          <td>$140,000</td>
          <td>200</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <h3>Leases Overview</h3>
  </div>
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Apt ID/Number</th>
          <th>Location</th>
          <th>Days Leased</th>
          <th>Total Paid</th>
          <th>Status</th>
          <th>Left To Pay</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1/200</td>
          <td>Hanover At Rice</td>
          <td>200 days</td>
          <td>$22,400</td>
          <td>On Time</td>
          <td>0</td>
        </tr>
        <tr>
          <td>1/200</td>
          <td>Hanover At Rice</td>
          <td>200 days</td>
          <td>$22,400</td>
          <td>On Time</td>
          <td>0</td>
        </tr>
        <tr>
          <td>1/200</td>
          <td>Hanover At Rice</td>
          <td>200 days</td>
          <td>$22,400</td>
          <td>On Time</td>
          <td>0</td>
        </tr>
        <tr>
          <td>1/200</td>
          <td>Hanover At Rice</td>
          <td>200 days</td>
          <td>$22,400</td>
          <td>On Time</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="vacant-apartments col-md-8">
    <h3>Vacant Apartments</h3>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Apartment ID</th>
          <th>Apartment Number</th>
          <th>Apartment Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>200</td>
          <td>Complex A At Hanover Rice</td>
          <td><a href="#" class="btn btn-default btn-small">Rent Apartment &rsaquo;</span></td>
        </tr>
        <tr>
          <td>1</td>
          <td>200</td>
          <td>Complex A At Hanover Rice</td>
          <td><a href="#" class="btn btn-default btn-small">Rent Apartment &rsaquo;</span></td>
        </tr>
        <tr>
          <td>1</td>
          <td>200</td>
          <td>Complex A At Hanover Rice</td>
          <td><a href="#" class="btn btn-default btn-small">Rent Apartment &rsaquo;</span></td>
        </tr>
        <tr>
          <td>1</td>
          <td>200</td>
          <td>Complex A At Hanover Rice</td>
          <td><a href="#" class="btn btn-default btn-small">Rent Apartment &rsaquo;</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Auto Makes Tracker</h3>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Apartment ID</th>
          <th>Apartment Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ford</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Open Leases</h3>
  </div>
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Apartment ID</th>
          <th>Apartment Number</th>
          <th>Apartment Location</th>
          <th>Lease Length</th>
          <th>Lease End Date</th>
          <th>Days Until Lease Ends</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20</td>
          <td>200</td>
          <td>Hanover at Rice</td>
          <td>360 days</td>
          <td>Lease End Date</td>
          <td>30 days</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
