<div class="row">
  <div class="col-md-12">
    <h3>Outstanding Invoices</h3>
  </div>
  <div class="col-md-12">
    <%= render partial: "rental_invoices/shared/simple_rental_invoices", locals: { rental_invoices: current_user.tenant.rental_invoices.unpaid.order(invoice_date: :asc) }%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>My Rentals</h3>
  </div>
  <div class="col-md-12">
    <%= render partial: "rentals/shared/simple_rentals", locals: { rentals: current_user.tenant.rentals }%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Pending Complaints</h3>
  </div>
  <div class="col-md-12">
    <%= render partial: "complaints/shared/complaints", locals: { rentals: current_user.complaints.pending }%>
  </div>
</div>
