<h1>Editing Tenant Family Member</h1>

<%= render partial: 'tenant_family_members/shared/form', locals: { rental: @rental, tenant_family_member: @tenant_family_member } %>

<%= link_to 'Show', rental_tenant_family_member_path(@rental, @tenant_family_member) %> |
<%= link_to 'Back', rental_tenant_family_members_path %>
