<h1>Editing Tenant Auto</h1>

<%= render partial: 'tenant_autos/shared/form', locals: { rental: @rental, tenant_auto: @tenant_auto } %>

<%= link_to 'Show', rental_tenant_autos_path(@rental, @tenant_auto)  %> |
<%= link_to 'Back', rental_tenant_autos_path %>
