<%= link_to 'See Rental', rental_path(@rental) %>

<div class="col-md-4">

  <div>
    <%= render partial: "tenants/shared/tenant", locals: { tenant: @rental.tenant } %>
  </div>

  <div>
    <%= render partial: "rentals/shared/rental", locals: { rental: @rental } %>
  </div>

</div>

<div class="col-md-6">
  <h1>New Tenant Auto</h1>
  <%= render partial: 'tenant_autos/shared/form', locals: { rental: @rental, tenant_auto: TenantAuto.new}  %>
</div>
