<div class="col-xs-8">
  <div class="neighborhood-updates">
      <h3 class="sidebar-header">Tenant Updates</h4>
      <ul class="news-items list-unstyled">
          <li class="news-item">
              <h5><span class="notification-date">04/17/16</span> - Happy Birthday Matt! &rsaquo;</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime similique, sapiente dolorum atque nam? Eveniet praesentium consectetur dolores architecto, soluta quam mollitia non beatae. Exercitationem explicabo quam laudantium est nemo!</p>
          </li>
          <li class="news-item">
              <h5><span class="notification-date">04/17/16</span> - Apartment Rent Is Increasing &rsaquo;</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime similique, sapiente dolorum atque nam? Eveniet praesentium consectetur dolores architecto, soluta quam mollitia non beatae. Exercitationem explicabo quam laudantium est nemo!</p>
          </li>
          <li class="news-item">
              <h5><span class="notification-date">04/17/16</span> - It's Tax Day! &rsaquo;</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime similique, sapiente dolorum atque nam? Eveniet praesentium consectetur dolores architecto, soluta quam mollitia non beatae. Exercitationem explicabo quam laudantium est nemo!</p>
          </li>
      </ul>
  </div>
</div>
