
<div class="about-top-section row ng-scope">
  <div class="about-image col-md-12">
  <div class="mission-statement">
    <h3 style="margin-top: 0">Mission Statement</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit soluta vel
    debitis eos officiis, delectus, sed.</p>

    <h3>Company Story</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus assumenda
    libero perferendis ad quidem sint, excepturi nisi atque quasi quis, molestiae,
    nulla architecto dolore. Recusandae exercitationem quas animi sint
    voluptatem.</p>
  </div>
  </div>

</div>

<div class="about-leadership-section row ng-scope">
  <div class="col-md-12">
    <h3>Leadership Team</h3>

    <div class="leadership-profiles row">
      <div class="col-md-3">
        <img src="http://dummyimage.com/100/000/fff.jpg&amp;text=leader1" alt=
        "Leader1" />

        <h3>Matt Dickens</h3>

        <p>Matt Dickens has been an amazing apartment manager and janitor.</p>
      </div>

      <div class="col-md-3">
        <img src="http://dummyimage.com/100/000/fff.jpg&amp;text=leader2" alt=
        "Leader2" />

        <h3>Aileen Tran</h3>

        <p>Aileen Tran has been an amazing apartment manager and janitor.</p>
      </div>

      <div class="col-md-3">
        <img src="http://dummyimage.com/100/000/fff.jpg&amp;text=leader3" alt=
        "Leader3" />

        <h3>Khoi Pham</h3>

        <p>Matt Dickens has been an amazing apartment manager and janitor.</p>
      </div>

      <div class="col-md-3">
        <img src="http://dummyimage.com/100/000/fff.jpg&amp;text=leader4" alt=
        "Leader4" />

        <h3>Aarti Bhasker</h3>

        <p>Aarti Bhasker has been an amazing apartment manager and janitor.</p>
      </div>

      <div class="col-md-3">
        <img src="http://dummyimage.com/100/000/fff.jpg&amp;text=leader5" alt=
        "Leader5" />

        <h3>Jiacheng Mo</h3>

        <p>Jiacheng Mo has been an amazing apartment manager and janitor.</p>
      </div>

      <div class="col-md-3">
        <img src="http://dummyimage.com/100/000/fff.jpg&amp;text=leader6" alt=
        "Leader6" />

        <h3>Brandon Guyton</h3>

        <p>Brandon Guyton has been an amazing apartment manager and janitor.</p>
      </div>
    </div>
  </div>
</div>
