
<div class="contact-information row ng-scope">
    <div class="col-md-12 get-in-touch">
        <img src="<%= image_path 'here-for-you.jpg' %>" style="width: 100%;"alt="">
        <h1>Get In<br/>Touch</h1>
        <ul class="contact-items list-unstyled">
            <li class="contact-item col-md-3">
              <h3>Primary Manager</h3>
              <tel>(888) 555-5555</tel>
              <h5>email@address.com</h5>
            </li>
            <li class="contact-item col-md-3">
              <h3>Primary Manager</h3>
              <tel>(888) 555-5555</tel>
              <h5>email@address.com</h5>
            </li>
            <li class="contact-item col-md-3">
              <h3>Primary Manager</h3>
              <tel>(888) 555-5555</tel>
              <h5>email@address.com</h5>
            </li>
            <li class="contact-item col-md-3">
              <h3>Primary Manager</h3>
              <tel>(888) 555-5555</tel>
              <h5>email@address.com</h5>
            </li>
        </ul>
    </div>
</div>
<div class="contact-forms-section row ng-scope">
    <div class="contact-forms">
        <div class="col-md-4">
            <form class="ng-pristine ng-valid">
                <h4>Sales Contact Form:</h4>
                <fieldset class="form-group">
                    <input class="form-control input-sm" id=
                    "exampleInputEmail1" placeholder="Enter email"
                    type="email">
                </fieldset>
                <fieldset class="form-group">
                    <input class="form-control input-sm" id=
                    "exampleName1" placeholder="Name" type="name">
                </fieldset>
                <fieldset class="form-group">
                    <textarea class="form-control input-sm" id=
                    "exampleTextarea" rows="3"></textarea>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4">
            <form class="ng-pristine ng-valid">
                <h4>Leasing Contact Form:</h4>
                <fieldset class="form-group">
                    <input class="form-control input-sm" id=
                    "exampleInputEmail1" placeholder="Enter email"
                    type="email">
                </fieldset>
                <fieldset class="form-group">
                    <input class="form-control input-sm" id=
                    "exampleName1" placeholder="Name" type="name">
                </fieldset>
                <fieldset class="form-group">
                    <textarea class="form-control input-sm" id=
                    "exampleTextarea" rows="3"></textarea>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4">
            <form class="ng-pristine ng-valid">
                <h4>Support Contact Form:</h4>
                <fieldset class="form-group">
                    <input class="form-control input-sm" id=
                    "exampleInputEmail1" placeholder="Enter email"
                    type="email">
                </fieldset>
                <fieldset class="form-group">
                    <input class="form-control input-sm" id=
                    "exampleName1" placeholder="Name" type="name">
                </fieldset>
                <fieldset class="form-group">
                    <textarea class="form-control input-sm" id=
                    "exampleTextarea" rows="3"></textarea>
                </fieldset>
            </form>
        </div>
    </div>
</div>
