
<!-- Start Featured Testimonial Item -->
<div class="featured-testimonial-item testimonial-item col-md-6">
  <div class="featured-image col-xs-4" style="padding: 0;">
    <img alt="FeaturedTestimonial" src="<%= image_path 'testimonials/testimonials-featured-00.jpg' %>" style="width: 100%;">
  </div>
  <div class="col-xs-8">
    <blockquote>
      <span class="primary-quote">One of the most exquisite places that I've ever stayed at.</span>
      <footer>
        - Xoxo The Cat, "Breathing Intensifies"
      </footer>
    </blockquote>
  </div>
</div>
<!-- End Featured Testimonial Item -->
