<div class="row">
  <div class="col-xs-4">
    <h2>Welcome Back</h2>
    <h3>Tenant Login Portal</h3>

    <%= render "devise/shared/new_session_form" %>

    <%= render "devise/shared/links" %>
  </div>
    <%= render "static/shared/tenant_updates" %>
</div>
