<div class="row">
  <div class="col-md-12">
    <h1>Dashboard</h1>
    <h2>Welcome back Admin!</h2>
  </div>
</div>

<% if !current_user.role.name.nil? && current_user.role.name == "supervisor" %>
<%= render "dashboards/shared/supervisor_view" %>
<% end %>
