<h3>Apartment</h3>
<span><strong>Apartment ID: </strong> <%= @apartment.id %></span><br/>
<span><strong>Apartment Type: </strong><%= @apartment.apartment_type.name %></span><br/>
<span><strong>Status: </strong><%= @apartment.status %>
</span>
