<div class="row">
  <div class="col-md-12">
    <h3>Apartments Overview</h3>
    <h4>Total Apts: <%= @apartments.count %></h4>
  </div>

  <div class="col-md-6">
    <h3>Vacant Apartments</h3>
    <%= render partial: "apartments/shared/simple_apartments", locals: { apartments: @apartments.vacant } %>
  </div>

  <div class="col-md-12">
    <h3>Rented Apartments</h3>
    <%= render partial: "apartments/shared/simple_apartments", locals: { apartments: @apartments.rented } %>
  </div>
</div>

<%= link_to 'New Apartment', new_apartment_path %>
